include README.md
include LICENSE
include requirements.txt
recursive-include docs *
recursive-include config *
recursive-include wipeit/gui *
recursive-include tests *
prune docs/build
prune .github
prune .git
